* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0%;
}

#header {
  height: 70px;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  background-color: lightgray;
  position: sticky;
  top: 0%;
}

#header-img {
  height: 50px;
}

#nav-bar, #footer-bar {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.main-section {
  text-align: center;
  margin: 50px auto;
}

form input {
  display: block;
  margin: auto;
  width: 300px;
  padding: 5px;
}

input[type="submit"] {
  margin: 10px auto;
  width: 200px;
  height: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f1c40f;
  transition: background-color 300ms ease-in-out;
  outline: none;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: darkorange;
}

#features {
  max-width: 900px;
  height: auto;
  padding: 24px;
}

.feature {
  display: flex;
  align-items: center;
}

.feature-img {
  color: darkorange;
  font-size: 60px;
  min-width: 150px;
}

.feature-text {
  text-align: left;
  max-width: 750px;
  margin-bottom: 24px;
}

.feature-text h2 {
  margin-bottom: 0px;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  color: darkorange;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.video {
  max-width: 800px;
  max-height: 450px;
  margin: 0 auto;
  padding: 20px;
}

.video iframe {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 400px;
}

#footer-bar {

  width: 300px;
  margin-bottom: 14px;
  justify-content: space-between;
}

footer {
  font-size: 14px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 25px;
  background-color: lightgray;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer span {
  display: block;
}


.prices {
  display: flex;
  max-width: 900px;
  margin: 24px auto;
  justify-content: space-between;
  gap: 24px;
}

.price {
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
}

.price>h2:first-child {
  margin-top: 0%;
  font-size: 16px;
  background-color: lightgray;
  padding: 20px;
}

.price>h2:nth-child(2) {
  font-size: 32px;
}

button[type="button"] {
  margin: 20px auto;
  width: auto;
  padding: 0px 30px;
  height: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f1c40f;
  transition: background-color 300ms ease-in-out;
  outline: none;
  border: none;
  border-radius: 5px;
}

button[type="button"]:hover {
  background-color: darkorange;
}


@media screen and (max-width:700px) {
  #nav-bar {
    flex-direction: column;
  }

  #header {
    height: auto;
  }

  .nav-link {
    padding-bottom: 5px;
  }

  .feature {
    display: flex;
    flex-direction: column;
  }

  .feature-text {
    text-align: center;

  }

  .main-section {
    text-align: center;
    margin: 70px auto;
  }

  footer {
    align-items: center;
  }

  .prices {
    display: flex;
    flex-direction: column;
    margin: 32px;
    /* max-width: 900px;
    margin: 24px auto;
    justify-content: space-between;
    gap: 24px; */
  }
}





@media screen and (max-width:500px) {
  #header {
    flex-direction: column;
    align-content: center;
  }

  #header-img {
    display: block;
    width: max-content;
    margin: auto;
  }

  #nav-bar {
    width: 100%;
  }
}