* {
  box-sizing: border-box;
}

body {
  margin: 44px 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

main {

  background-color: #eee;
  border-radius: 10px;
}

header {
  width: 100%;
  text-align: center;
}

header>#desc {
  color: #333;
}

h1 {
  display: inline-block;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 0%;
}

.bold {
  font-weight: bold;
}

#img-div {
  width: calc(100% - 20px);
  margin: 5px auto;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

#img-div>img {
  max-width: 100%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

#img-caption {
  font-size: 15px;
  margin-top: 16px;
  color: #333;
}

#tribute-info {
  max-width: 550px;
  color: #333;
  font-size: 14px;
  line-height: 1.5rem;
  margin: 16px auto;
  padding: 16px;
}

ul>li {
  margin-bottom: 14px;
}

#quote {
  margin: 32px auto;
}

q {
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
}

cite {
  display: block;
}

#footer {
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
  padding-bottom: 44px;
  text-align: center;
}

#tribute-link {
  color: #477ca7;
}